@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;800&display=swap");
@import "./Header.css";
@import "./Index.css";
@import "./Deposit.module.css";
@import "./Submit.module.css";
@import "./AllTransactions.module.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: "Raleway", sans-serif;
}
